.siteContainer{
  /* display: inline-block; */
}

body{
  text-align: center;
  background-color: orange;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

img{
  height: 250px;
  width: auto;
}
/* NavBar */
li{
  list-style-type: none;
  display: inline-block;
  margin: 10px;
  text-align: center;
}

nav{
  background-color: black;
}

.nav{
  color: white;
  font-size: 17px;
  
}
/* End NavBar */

/* Header Stylinh */
.titleParent{
  height: auto;
  padding: 1em;
  font-size: 20px;
}
.title{
  margin: 10px; 
}
.subtitle{
  margin: 0px;
  padding: 0px;
}

.logo{
  height:100px;
  float: left;
}
/* End Header Styling */

/* Home page styling */
.homeParent{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.beerImage{
  padding: 3px;
}
.beer{
  height: 650px;
  width: auto;
  margin: 3px;
}

.mainDescription{
  align-self: center;
  height: auto;
  width: 950px;
}


/* End Home page styling */

/* Beer Locator Styling */

.beerChild{
  width: 100% auto;
  height: 80% auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
}

.dataImage{
  height:150px; 
  width:auto;
}

/* End Beer Locator Styling */

/* Footer Styling */

.footerParent{
  text-align: center;
  font-style: italic;
  font-size: 1em;
  padding: 5px;
  height: 8em;
  background-color: black;
}

.footer-titles{
  color: white;
}


.footer-child{
  margin: 5px;
}

/* SearchBox Styling */
.searchContainer{
  margin:3em;
  text-align: center;
}

.searchBox{
  text-align: center;
  font-size: 15px;
  
}

button{ 
  background-color: black;
  font-size: 15px;
  color: white;
  margin: 5px;

}


ul{
  border: 1px solid black;
}