.siteContainer{
  display: inline-flex;
}

body{
  text-align: center;
  background-color: orange;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img{
  height: 250px;
  width: auto;
}
/* NavBar */
li{
  list-style-type: none;
  display: inline-block;
  margin: 10px;
  text-align: center;
}

nav{
  background-color: black;
}

.nav{
  color: white;
  
}
/* End NavBar */

/* TItle and subtitle */
.title{
  margin: 0px;
}

.subtitle{
  margin: 0px;
}
/* End Title and subtitle */

/* Home image parent */
.homeParent{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.beerImage{
  padding: 3px;
}
.beer{
  height: 650px;
  width: auto;
  margin: 3px;
}
/* End Home image parent */

.mainDescription{
  align-self: center;
  height: auto;
  width: 950px;
}

